@import url('nav.css');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
.main{
    height: 100%;
    width: 80%;
}
.numOrders{
    position: absolute;
    font-size: 12px;
    right:52px;
    top: 30px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: cornflowerblue;
}
.numFavorite{
    position: absolute;
    right:15px;
    top: 30px;
    font-size: 12px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: cornflowerblue;
}
