.linkMenu{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 7px;
    width: 60%;
    border-radius: 9px;
    transition: 1s all;
    gap:6px;
}

.slideMenu{
    min-height: 138vh;
    width: 20%;
}
.sideMenu h4{
    font-family: sans-serif;
}
nav .active{
    background-color: cornflowerblue;
}

.bag{
    position: relative;
}

.favorite{
    position: relative;
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.animation{
    transition: 1s all;
}
.activeDarkMode{
    transition: 1s all;
}
