.linkMenu{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 5px;
    width: 60%;
    border-radius: 9px;
}

.slideMenu{
    min-height: 138vh;
    width: 20%;
}
.sideMenu h4{
    font-family: sans-serif;
}
nav .active{
    background-color: cornflowerblue;
}
.numOrders{
    position: absolute;
    font-size: 12px;
    right:52px;
    top: 30px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: cornflowerblue;
}
.numFavorite{
    position: absolute;
    right:15px;
    top: 30px;
    font-size: 12px;
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: cornflowerblue;
}
.bag{
    position: relative;
}

.favorite{
    position: relative;
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.animation{
    transition: 1s all;
}
.activeDarkMode{
    transition: 1s all;
}