.carousel-control-prev-icon{
    font-weight: bold;
    background-color: black;
    z-index: 1;
    border-radius: 20px;
    padding: 20px;
}
.carousel-control-next-icon{
    font-weight: bold;
    background-color: black;
    z-index: 1;
    border-radius: 20px;
    padding: 20px;
} 
.img_carousel{
    position: relative;
    border-radius: 30px;
}
.carousel-inner h2{
    position: absolute;
    padding: 10px;
    top: 40%;
    max-width: 50%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 999;
    font-weight: bolder;
    font-size: 40px;
}
.carousel-inner p{
    position: absolute;
    top: 60%;
    max-width: 50%;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    z-index: 999;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.carousel-inner a{
    position: absolute;
    top: 80%;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    padding:7px;
    background-color: cornflowerblue;
    text-decoration: none;
}
.carousel-inner img{
    border-radius: 30px;
}
.game img{
    border-radius: 23px;
}

.discount{
    border-radius: 7px;
    background-color: red;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    padding: 3px 14px;
}
.oldPrice{
    text-decoration: line-through 2px red;
}

.currentPrice{
    font-weight: bold;
}
.bagIcon{
    position: relative;
}
.favoriteIcon{
    position: relative;
}
.gamescard{
    min-height: 110vh;
}